name: SAST - Semgrep

on:
  push:
  pull_request:

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Semgrep
        run: |
          pip install semgrep

      - name: Run Semgrep SAST
        run: |
          semgrep --config=p/owasp-top-ten canonicalization-example --json > semgrep-results.json
          semgrep --config=p/owasp-top-ten idor --json >> semgrep-results.json
          semgrep --config=p/owasp-top-ten fastbank-auth-lab --json >> semgrep-results.json
          semgrep --config=p/owasp-top-ten fastbank_insecure_classwork --json >> semgrep-results.json

      - name: Upload Semgrep SARIF report
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-report
          path: semgrep-results.json
