name: SAST - Semgrep

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Semgrep
      run: pip install semgrep

    - name: Run Semgrep SAST scan
      run: semgrep --config "p/owasp-top-ten" --error --strict --json > semgrep.sarif || true

    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: semgrep.sarif
